# Dependencias
node_modules/

# Archivos de compilación
dist/

# Variables de entorno
.env
.env.local
.env.*.local

# Archivos del sistema
.DS_Store
Thumbs.db

# Configuración de VS Code
.vscode/

# Archivos temporales
*.tmp
*.temp