# Dependencias
node_modules/

# Archivos de compilación
dist/

# Variables de entorno, las dejo a la vista para que se tenga referencia de como las tenia en mi proyecto
# .env
# .env.local
# .env.*.local

# Archivos del sistema
.DS_Store
Thumbs.db

# Configuración de VS Code
.vscode/

# Archivos temporales
*.tmp
*.temp